// Place all the styles related to the admin/schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#schools-list {
  float: left;
  margin-left: 10px;
  width: 80%;
}

.school-btn {
  width: 200px;
}
